@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Lato:400,700,900");
body {
  font-family: 'Lato', sans-serif; }

.btn-main {
  color: #fff;
  background: transparent;
  padding: 15px 25px;
  border: 2px solid #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer; }
  @media (max-width: 767px) {
    .btn-main {
      padding: 12px 18px;
      font-size: 16px; } }
  .btn-main:hover, .btn-main:focus {
    background-color: #fff;
    color: #333 !important;
    text-decoration: none; }
  .btn-main i {
    margin-left: 15px; }

.btn-custom {
  background-color: #76b6ff;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 0;
  cursor: pointer; }
  .btn-custom:hover, .btn-custom:focus {
    background-color: #439bff;
    color: #fff;
    text-decoration: none; }

.spinner {
  text-align: center;
  padding: 50px 0; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .lds-ring div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #76b6ff;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #76b6ff transparent transparent transparent; }
  .lds-ring div:nth-child(1) {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s; }
  .lds-ring div:nth-child(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .lds-ring div:nth-child(3) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s; }

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.colors .color {
  height: 13px;
  width: 13px;
  margin-right: 6px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 4px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.5);
  list-style-type: none;
  display: inline-block; }
  .colors .color.red {
    background-color: #ff0000; }
  .colors .color.pink {
    background-color: #ffa4b4; }
  .colors .color.black {
    background-color: #000; }
  .colors .color.white {
    background-color: #fff; }
  .colors .color.blue {
    background-color: #4f7eff; }
  .colors .color.gray {
    background-color: #a8a8a8; }
  .colors .color.beige {
    background-color: #ff9a71; }
  .colors .color.brown {
    background-color: #632e1a; }

.navbar {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .navbar .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    @media (max-width: 767px) {
      .navbar .navbar-brand {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0;
        margin-left: -15px; } }
    @media (max-width: 355px) {
      .navbar .navbar-brand {
        font-size: 16px;
        letter-spacing: 0; } }
    .navbar .navbar-brand:hover {
      color: #000; }
  .navbar.scrolled {
    background-color: #fff; }
    .navbar.scrolled a,
    .navbar.scrolled .navbar-brand {
      color: #000; }
      .navbar.scrolled a:hover,
      .navbar.scrolled .navbar-brand:hover {
        color: #383838; }
    .navbar.scrolled .cart-icon p,
    .navbar.scrolled .cart-icon button {
      color: #000; }
    .navbar.scrolled .cart-icon button:hover {
      color: #383838; }

.cart-icon button {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 40px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative; }
  @media (max-width: 767px) {
    .cart-icon button {
      font-size: 25px; } }
  .cart-icon button:hover, .cart-icon button:focus {
    color: #000;
    outline: none; }
  .cart-icon button .badge {
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 50%; }
    @media (max-width: 767px) {
      .cart-icon button .badge {
        font-size: 10px; } }

.cart-icon p {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  @media (max-width: 767px) {
    .cart-icon p {
      font-size: 12px; } }

.header {
  background: url(../src/img/bg-shoes.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh; }
  .header .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    min-height: 100vh;
    max-height: 100vh;
    color: #fff; }
  .header h1 {
    font-family: 'Great Vibes', cursive;
    width: 100%;
    text-align: center;
    font-size: 80px; }
    @media (max-width: 767px) {
      .header h1 {
        font-size: 40px; } }
  .header h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      .header h2 {
        font-size: 22px; } }

.products {
  background-color: #fff0e7;
  padding: 50px 0; }
  .products .options select {
    border-radius: 0;
    color: #6d6d6d;
    border: 1px solid #ebebeb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: #fff url(../src/img/down-arrow.png) no-repeat center right 10px;
    background-size: 12px; }
    .products .options select:focus {
      border-color: #b8b8b8;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #333; }
  .products .card {
    border: 0;
    border-radius: 0;
    margin: 20px 0; }
    .products .card .price {
      margin-bottom: 8px;
      color: #002f6d;
      font-weight: 700; }
    .products .card .card-title {
      font-size: 17px; }
  .products ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: 13px; }
  .products .sizes li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #e6e6e6; }
  .products .pagination-nav {
    width: 100%; }
    .products .pagination-nav .page-item.active .page-link {
      background-color: #ff4372;
      border-color: #ff4372; }
    .products .pagination-nav .page-link {
      border-radius: 0 !important; }
      .products .pagination-nav .page-link:hover {
        background-color: #ffdbe4; }

.cart {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear; }
  .cart.transparent {
    opacity: 0;
    z-index: -1; }
  .cart .cart-inside {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 30px 20px;
    background-color: #fff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s; }
    @media (max-width: 767px) {
      .cart .cart-inside {
        padding: 25px 15px; } }
    @media (max-width: 355px) {
      .cart .cart-inside {
        padding: 18px 15px; } }
    .cart .cart-inside.active {
      right: 0; }
    .cart .cart-inside .close {
      position: absolute;
      top: 0px;
      right: 15px;
      font-size: 50px;
      outline: none;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .cart .cart-inside h2 {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ebebeb; }
      @media (max-width: 767px) {
        .cart .cart-inside h2 {
          font-size: 20px;
          margin-bottom: 10px;
          padding-bottom: 15px; } }
    .cart .cart-inside h3 {
      text-align: center;
      font-size: 20px; }
    .cart .cart-inside h4 {
      font-size: 17px;
      font-weight: 700; }
    .cart .cart-inside p {
      font-size: 14px;
      margin-bottom: 10px; }
    .cart .cart-inside .items .img-wrapper {
      max-width: 60px;
      float: left;
      margin-right: 15px; }
    .cart .cart-inside ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .cart .cart-inside ul li {
        margin-bottom: 10px;
        padding: 15px;
        border: 1px solid #ebebeb;
        position: relative; }
        .cart .cart-inside ul li .close {
          font-size: 30px;
          color: #dd0000;
          top: 8px; }
          .cart .cart-inside ul li .close:hover, .cart .cart-inside ul li .close:focus {
            color: #8d0000; }
      .cart .cart-inside ul .quantity .btn {
        padding: 0 0 3px;
        width: 25px;
        height: auto;
        margin: 0 4px;
        background-color: transparent;
        font-weight: 700;
        color: #439bff;
        border-radius: 0;
        border: 1px solid #439bff; }
        .cart .cart-inside ul .quantity .btn:hover, .cart .cart-inside ul .quantity .btn:focus {
          background-color: #439bff;
          color: #fff; }
      .cart .cart-inside ul .price {
        font-weight: 700;
        color: #002f6d; }
    .cart .cart-inside .total-amount {
      border-top: 1px solid #ebebeb;
      padding-top: 30px;
      margin-top: 30px; }
      @media (max-width: 767px) {
        .cart .cart-inside .total-amount {
          padding-top: 20px;
          margin-top: 20px; } }
      @media (max-width: 355px) {
        .cart .cart-inside .total-amount {
          padding-top: 8px;
          margin-top: 0; } }
      .cart .cart-inside .total-amount p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media (max-width: 355px) {
          .cart .cart-inside .total-amount p {
            margin-bottom: 3px; } }
    .cart .cart-inside .btn-custom {
      border: 0; }
      @media (max-width: 355px) {
        .cart .cart-inside .btn-custom {
          padding: 8px 20px;
          font-size: 14px; } }
      .cart .cart-inside .btn-custom.disabled {
        opacity: 0.6;
        cursor: not-allowed; }

.footer {
  text-align: center;
  padding: 8px 0;
  font-size: 13px; }
  .footer p {
    margin-bottom: 5px; }
